/* body#recipe {
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    a {color: brown;   }

    h2 {
        background-color: black;
        color: white;
    }
} */

/* Start of landing page */

* {
    border: solid black 1px;;
}

body#landing-page {
    /* width: 860px; */
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

/* ------ HEADER */
.header, .footer{
    background-color: #babab0;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 860px;
}

.footer {
    align-items: center;
    color: #f9faf8;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
.header ul {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

/* ------ BODY1 HERO */
.body1 {
    background-color: #babab0;
    height: 400px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.container-body1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 60px;
    width: 860px;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    line-height: 1;
    margin: 0;
}
.left {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;

}
.right {
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* ------ BODY2 ITEMS */
.body2 {
    padding: 40px;
}
.body2 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #37331f;
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 60px;
    text-align: center;
}
.item {
    max-width: 150px;
}
.item img {
    border-radius: 20px;
    border: solid 5px #37331f;;
    width: 150px;
    height: 150px;
}

/* ------ BODY3 QUOTE*/
.body3 {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quote {
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.quote  {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quotee {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

/* ------ BODY4 CALL TO ACTION */
.body4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.container-cta {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #cf653F;
    padding: 40px 80px;
    border-radius: 20px;
    gap: 40px;
}

.text-cta {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.text-cta h2 {
    color: #f9faf8;
    margin: 0;
}

.text-cta p {
    color: #e5e7eb;
    margin: 0;
}


/* ------ other */
button {
    background-color: #cf653F;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
}
.signup1 {
    border: none;
}
.signup2 {
    border: solid 4px #f9faf8;
}

